form{
    margin-bottom: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

}
div{
    margin: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
}
input{
    width: 30%;
}
.contraseña{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(7, 34, 39);
    background-color: rgb(98, 167, 168);
    border-radius: 10px;
}
.empresas{
    background-image: url(imagenes/empresa.jpg) ;
    background-size: cover;
    background-position: center;
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #AAA;
    min-height: 100vh;

}
.empresasInicio{
    margin: auto;
    margin-bottom: 10px;
    padding: 3px;
    MIN-width: 50%;
    color: rgb(98, 167, 168);
    font-size: 2em;
    text-align: center;
}
.empresasContact{
    margin: auto;
    padding: 5px 10px;
    font-size: 2em;
    color: rgb(7, 34, 39);
    border: 1px rgb(174, 254, 255);
    border-radius: 10px;
    background-color: rgb(174, 254, 255);
    box-shadow: 0px 5px 10px rgb(7, 34, 39);
     
}
.empresasContact:hover{
    background-color: rgb(7, 34, 39);
    color: rgb(174, 254, 255);
    box-shadow: 0px 5px 10px rgb(174, 254, 255);
    transition: ease 400ms;
}
.empresasContact2{
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: lighter;
    color: rgb(7, 34, 39);
    border: 1px rgb(174, 254, 255);
    border-radius: 10px;
    background-color: rgb(174, 254, 255);
    box-shadow: 0px 5px 10px rgb(7, 34, 39);
     
}
.empresasContact2:hover{
    background-color: rgb(7, 34, 39);
    color: rgb(174, 254, 255);
    box-shadow: 0px 5px 10px rgb(174, 254, 255);
    transition: ease 400ms;
}
.registrarse {
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 1.3em;
    font-weight: lighter;
    color: rgb(7, 34, 39);
    border: 1px rgb(174, 254, 255);
    border-radius: 10px;
    background-color: rgb(174, 254, 255);
}
.registrarse:hover{
    background-color: rgb(7, 34, 39);
    color: rgb(174, 254, 255);
    box-shadow: 0px 5px 10px rgb(174, 254, 255);
    transition: ease 400ms;
}


.empresas h1{
    margin-top: 40px;
    padding: 10px 5px;
    width: 30%;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(7, 34, 39);
    background-color: rgba(174, 254, 255, 0.583);
    border-radius: 20px;
}
.text{
    margin: auto;
    margin-top: 1rem;
    width: 30%;
    color: rgb(7, 34, 39);
    font-size: 1em;
    background-color: rgb(98, 167, 168);
    border-radius: 20px;
}
.iniciarSesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}
@media (max-width: 800px){
  
    header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    body{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 100vh;
    }
    footer{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
       
    }
    .logo img{
        margin: auto;
    }
    #peralta{
        display: inline-block;
        margin-left: 0px;
    }
    nav{
        margin: auto;
        padding: 10px, 0px;
        width: 80%;
    }
    nav a:hover{
        padding: 1px;
        background-color:rgb(7, 34, 39) ;
        border: 0px solid black;
        border-top: 0px solid rgb(7, 34, 39);
        border-radius: 10px;
    }
    .bancos{
        height: 40px;
        width: 70%;
        margin: auto;
    
    }
    .empresasInicio{
        width: 100%;
        font-size: 4em;
        color: rgb;
        
    }
    .empresasContact{
        font-size: 2em;
    }
    .empresasContact2{
        font-size: 1em;
    }
    .empresas .text {
        font-size: 20px;
    }
    .empresas p{
        font-size: 20px;
    }
    .empresas h1{
        font-size: 2.5em;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text{
       width: auto;
    }
    .textB{
        width: auto;
    }
    input{
        width: auto;
    }

}